// ============================================================================
// COMPONENT
// ============================================================================

$transition__expand: all 0.5s ease-in-out, max-height 0.75s ease-in-out, margin 0.1s ease-in-out, opacity 0.3s ease-in-out;


// ====================================
// UTILITIES
// ====================================
.list-reset {
  @include list-reset;
}

.screen-reader-text {
  @include screen-reader-text;
}


// ====================================
// ACCORDION
// ====================================
.accordion {

  &__title {
    display: flex;
    margin: 0;
  }
  
  &__content {
    height: 0;
    max-height: 0;
    opacity: 0;
    transition: $transition__expand;
  }

  &__item {

    &--expanded {

      > .accordion__content {
        height: 100%;
        max-height: 1000vh;
        opacity: 1;
      }
    }
  }
}


// ====================================
// TOGGLES
// ====================================
.toggle {
  @include plus-minus-button($color-primary, $bar-width: rem(15));

  margin-right: rem(15);

  &[aria-expanded="true"] {
    @include plus-minus-button-active($color-primary);
  }
}
