// ============================================================================
// LAYOUT
// ============================================================================
.content {
  margin: 0 auto;
  max-width: 100%;
  padding: $gutter;
  width: $content-width;
}
