// ============================================================================
// THEME
// ============================================================================

$downy: #73c5cb;
$charcoal: #414042;
$punch: #DB4126;
$star-dust: #9f9f9f;
$white: #fff;

$open-sans: 'Open Sans', sans-serif;

#themeToggle {
  @include button($color-primary);

  color: $white;
  padding: 0.5em 1em;
  position: fixed;
  right: rem(20);
  top: rem(20);

  .ai-humanity-theme & {
    @include button($punch);
  }
}

@keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  animation: 3s fade-in;
  transition: opacity 0.3s ease-in-out;
}

.ai-humanity-theme {
  animation: 3s fade;
  color: $charcoal;
  font-family: $open-sans;
  font-size: rem(16);

  @include mq-min($tablet-landscape) {
    font-size: rem(19);
  }

  .component {
    margin: 0 auto;
    max-width: 100%;
    width: rem(1010);

    &__header {
      position: relative;
    }

    &__title {
      background-color: $downy;
      bottom: rem(-22);
      color: $white;
      display: inline-block;
      font-size: calc(0.5em + 1.77vw);
      font-weight: 800;
      left: rem(22);
      letter-spacing: 0.8 / 16 * 1em;
      margin: 0;
      min-width: rem(170);
      padding: rem(10) rem(24);
      position: relative;
      text-transform: uppercase;
      z-index: 2;

      @include mq-min($tablet-landscape) {
        bottom: auto;
        font-size: rem(16);
        left: auto;
        position: absolute;
        top: rem(-22);
      }
    }

    &__subtitle {
      background-color: $charcoal;
      color: $white;
      font-size: calc(0.5em + 4.42vw);
      letter-spacing: 0.56 / 38 * 1em;
      line-height: 1.1;
      margin: 0;
      padding: 1.2em 1.4em 0.95em;
      position: relative;
      text-transform: uppercase;

      @include mq-min($tablet-landscape) {
        float: left;
        font-size: rem(38);
        margin-left: rem(110);

        &:after {
          background-color: transparent;
          border-right: 1px solid $punch;
          border-top: 1px solid $punch;
          content: '';
          height: rem(135);
          position: absolute;
          right: 125 / -2 * 1px;
          top: 50%;
          width: rem(125);
          z-index: -1;
        }
      }
    }

    &__intro {
      background-color: $punch;
      clear: both;
      color: $white;
      letter-spacing: 0.96 / 19 * 1em;
      line-height: 1.7;
      margin: 1.7em 0 3em;
      padding: 1.6em 2.6em;
      position: relative;
      z-index: 2;

      @include mq-min($tablet-landscape) {
        float: right;
        width: 80%;
      }
    }

    &__content {
      clear: both;

      @include mq-max($tablet-landscape) {
        padding-left: rem(10);
      }
    }
  } // .component

  .accordion {

    &--level-1 {
      border-left: 1px solid $downy;
      margin-left: calc(1.4em + 6px); // account for the shadows on the level 1 toggles.
      position: relative;

      @include mq-min($tablet-landscape) {
        border-top: 1px solid $downy;
        padding-top: rem(240);
        position: relative;
        top: rem(-175);
      }
    }

    &--level-3 {
      margin-left: (175 - 147) / 16 * 1em;
    }

    &__item {

      &--expanded {

        .accordion--level-2 {
          margin: 3.25em 0 0 2em;

          @include mq-min($tablet-landscape) {
            margin-left: 7.75em;
          }
        }

        &.accordion__item--level-3 {

          .accordion__title--level-3 {
            margin-bottom: rem(24);
          }

          .accordion__content--level-3 {
            margin-bottom: 4.5em;
          }
        }
      }

      &--level-1 {

        + .accordion__item--level-1 {
          margin-top: 4.75em;
        }
      }

      &--level-2 {

        &.accordion__item--expanded {

          .accordion--level-3 {
            margin-top: 2.5em;
          }
        }
      }
    }

    &__title {
      align-items: center;
      letter-spacing: 0.025em;

      &--level-1,
      &--level-3 { // stylelint-disable-line no-descending-specificity
        text-transform: uppercase;
      }

      &--level-1 {
        font-size: calc(0.5em + 4.42vw);

        @include mq-min($tablet-landscape) {
          font-size: rem(38);
        }
      }

      &--level-2 {
        font-size: calc(0.5em + 3.33vw);
        justify-content: space-between;

        &:before {
          background-color: $white;
          border: 1px solid $downy;
          border-radius: 50%;
          content: '';
          height: rem(26);
          left: rem(-13);
          position: absolute;
          width: rem(26);
        }

        @include mq-min($tablet-landscape) {
          font-size: rem(30);

          &:after {
            background-color: $downy;
            content: '';
            height: 1px;
            left: 0;
            margin-top: rem(-22);
            order: -1;
            position: absolute;
            width: rem(100);
            z-index: -1;
          }
        }
      }
    }

    &__content {

      &--level-3 { // stylelint-disable-line no-descending-specificity
        margin-left: rem(50);
      }
    }
  } // accordion

  .toggle {
    margin-right: rem(24);

    &--level-1 {
      background-color: $downy;
      border-radius: 50%;
      box-shadow: 0 0 0 6px $white,
        0 0 0 7px $charcoal;
      left: -0.7em;
      padding: 0.7em;
      position: relative;

      &:after,
      &:before {
        background-color: $white;
      }
    } // level-1

    &--level-2 {
      background: url(../icons/chevron-up.svg) no-repeat;
      margin-right: 0;
      order: 2;
      transform: rotateX(180deg);
      transition: transform 0.3s ease-in-out;
      width: rem(23);

      &[aria-expanded="true"] {
        transform: rotateX(0);
      }

      &:after,
      &:before {
        content: none;
      }
    } // level-2

    &--level-3 {
      border: 2px solid $star-dust;
      border-radius: 50%;
      padding: 0.5em;

      &:after,
      &:before {
        background-color: $star-dust;
        height: rem(2);
        width: rem(12);
      }
    }
  }
}
